{% extends "budgeting_app/base/base.html" %}

{% block title %}Home - My Django App{% endblock %}

{% block content %}
<div>
    <h3>Create group</h3>
    <form action="{% url 'budgeting_app:create_group' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>
                <h3>Create a group using this form!</h3>
            </legend>
            <input type="text" name="group_code" id="group_code" maxlength="10">
            <label for="group_code">Group code</label><br>
            <input type="text" name="group_name" id="group_name" maxlength="32">
            <label for="group_name">Group name</label><br>
            <input type="text" name="group_description" id="group_description" maxlength="100">
            <label for="group_group_description">Group description</label><br>
        </fieldset>
        <input type="submit" value="create_group">
    </form>
</div>
{% endblock %}
