<!-- home.html -->
{% extends "budgeting_app/base/base.html" %}

{% block title %}Kategorie{% endblock %}

{% block content %}

<h1>Wszystkie kategorie</h1>
<h2>Kategorie</h2>
<table class="categories-table" name="all_categories">
    <thead>
        <tr>
            <th>Grupa</th>
            <th>Kod kategorii</th>
            <th>Nazwa kategorii</th>
            <th>Opis kategorii</th>
        </tr>
    </thead>
    <tbody>
        {% for category in all_categories %}
        <tr name="category_{{category.id}}">
            <td>{{category.group_id}}</td>
            <td>{{category.category_code}}</td>
            <td>{{category.category_name}}</td>
            <td>{{category.category_description}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Dodaj nowe kategorie</h2>
<!-- startdone -->
<form method="POST">
    {% csrf_token %}
    <table id="categories-table">
        <thead>
            <tr>
                <th>Grupa</th>
                <th>Kod kategorii</th>
                <th>Nazwa kategorii</th>
                <th>Opis kategorii</th>
            </tr>
        </thead>
        <tbody>
            {{ formset.management_form }}
            {% for form in formset %}
            <tr class="categories-form">
                <td>{{form.group_id}}</td>
                <td>{{form.category_code}}</td>
                <td>{{form.category_name}}</td>
                <td>{{form.category_description}}</td>
                <td><button type="button" class="remove-row">Usuń wiersz</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" id="add-row">Dodaj kategorię</button>
    <button type="submit">Zapisz</button>
</form>
<!-- enddone -->
<script>
    let formIdx = {{ formset.total_form_count }} - 1;

    $("#add-row").click(function () {
        let newForm = $("#categories-table tbody tr:last").clone(true);
        formIdx++;
        newForm.find(":input").each(function () {
            let name = $(this).attr("name");
            let id = $(this).attr("id");
            let newId = "";
            let newName = "";
            if (name) {
                newName = name.replace(/-\d+-/, `-${formIdx}-`);
            }
            if (id) {
                newId = id.replace(/-\d+-/, `-${formIdx}-`);
            }
            $(this).attr("id", newId);
            $(this).attr("name", newName);
            $("#id_form-TOTAL_FORMS").val(formIdx + 1);
        });
        $("#categories-table tbody").append(newForm);
        $("#categories-table tbody tr:last td:first select").focus();
    });

    $("#categories-table").on("click", ".remove-row", function () {
        $(this).closest("tr").remove();
    });
</script>

{%endblock%}
