<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title>All Categories</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'budgeting_app:all_groups' %}">Groups</a>
            </li>
            <li>
                <a href="{% url 'budgeting_app:group_create' %}">Create group</a>
            </li>
            <li>
                <a href="{% url 'budgeting_app:category_create' %}">Create Category</a>
            </li>
            <li>
                <a href="{% url 'budgeting_app:all_categories' %}">Categories</a>
            </li>
        </ul>
    </nav>
    {% if all_categories %}
    <div name="ALL_CATEGORIES">
        {% for category in all_categories %}
        <div name="category{{ category.id }}">
            <h5>Category id {{ category.id }} </h3>
                <p>Category {{category.category_code}} -- Category name: {{category.category_name}} -- Group: {{category.group_id}}</p>
                <a href="{% url 'budgeting_app:category_detail' category.id %}">View Category details</a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div>
        <p>No categories yet, please add some</p>
        <a href="{%url 'budgeting_app:category_create' %}">Create category</a>
    </div>
    {% endif %}
</body>