<!-- home.html -->
{% extends "budgeting_app/base/base.html" %}

{% block title %}Home - My Django App{% endblock %}

{% block content %}
{% if all_categories %}
<div name="ALL_CATEGORIES">
    {% for category in all_categories %}
    <div name="category{{ category.id }}">
        <h5>Category id {{ category.id }} </h5>
        <p>Category {{category.category_code}} -- Category name: {{category.category_name}} -- Group:
            {{category.group_id}}</p>
        <a href="{% url 'budgeting_app:category_detail' category.id %}">View Category details</a>
    </div>
    {% endfor %}
</div>
{% else %}
<div>
    <p>No categories yet, please add some</p>
    <a href="{%url 'budgeting_app:category_create' %}">Create category</a>
</div>
{% endif %}
{% endblock %}