<!-- home.html -->
{% extends "budgeting_app/base/base.html" %}

{% block title %}Category details{% endblock %}

{% block content %}
{% if all_categories %}
<div>
    <h3>Category id {{ budget_category.id }} </h3>
    <p>Category code: {{budget_category.category_code}}</p>
    <p>Group id: {{budget_category.group_id}}</p>
    <p>Category name: {{budget_category.category_name}}</p>
    <p>Category description: {{budget_category.category_description}}</p>
</div>
<div>
    <h3>Edit category?</h3>
    <form action="{% url 'budgeting_app:edit_category' budget_category.id %}" method="post">
        {% csrf_token %}
        <fieldset>

            <legend>
                <h3>Edditing category {{ budget_category.id }} </h3>
            </legend>
            <input type="text" name="category_code" id="category_code" maxlength="10">
            <label for="category_code">Category code ({{ budget_category.category_code }})</label><br>
            <select name="group_id" id="group_id">
                <option value="">Select group</option>
                {% for group in groups %}
                <option value="{{ group.id }}">{{ group.group_code }} -- {{ group.group_name }}</option>
                {% endfor %}
            </select>
            <label for="group_id">Group id ({{ budget_category.group_id }})</label><br>
            <input type="text" name="category_name" id="category_name" maxlength="32">
            <label for="category_name">Category name ({{ budget_category.category_name }})</label><br>
            <input type="text" name="category_description" id="category_description" maxlength="100">
            <label for="category_description">Category description (
                {{ budget_category.category_description }})</label>
        </fieldset>
        <input type="submit" value="edit_category">
    </form>
</div>
<div>
    <h3>Delete category?</h3>
    <form action="{% url 'budgeting_app:delete_category' budget_category.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="delete_category">
    </form>
</div>
{% endif %}
{% endblock %}
