<!DOCTYPE html>

<head>
    <meta charset="utf-8"/>
    <title>Category Details</title>
</head>

<body>
<nav>
    <ul>
        <li>
            <a href="{% url 'budgeting_app:all_groups' %}">Groups</a>
        </li>
        <li>
            <a href="{% url 'budgeting_app:group_create' %}">Create group</a>
        </li>
        <li>
            <a href="{% url 'budgeting_app:category_create' %}">Create Category</a>
        </li>
        <li>
            <a href="{% url 'budgeting_app:all_categories' %}">Categories</a>
        </li>
        <li>
            <a href="{% url 'budgeting_app:add_transactions' %}">Add Transactions</a>
        </li>
        <li>
            <a href="{% url 'budgeting_app:all_transactions' %}">All transactions</a>
        </li>
    </ul>
</nav>
<div>
    <h3>Category id {{ budget_category.id }} </h3>
    <p>Category code: {{budget_category.category_code}}</p>
    <p>Group id: {{budget_category.group_id}}</p>
    <p>Category name: {{budget_category.category_name}}</p>
    <p>Category description: {{budget_category.category_description}}</p>
</div>
<div>
    <h3>Edit category?</h3>
    <form action="{% url 'budgeting_app:edit_category' budget_category.id %}" method="post">
        {% csrf_token %}
        <fieldset>

            <legend>
                <h3>Edditing category {{ budget_category.id }} </h3>
            </legend>
            <input type="text" name="category_code" id="category_code" maxlength="10">
            <label for="category_code">Category code ({{ budget_category.category_code }})</label><br>
            <select name="group_id" id="group_id">
                <option value="">Select group</option>
                {% for group in groups %}
                <option value="{{ group.id }}">{{ group.group_code }} -- {{ group.group_name }}</option>
                {% endfor %}
            </select>
            <label for="group_id">Group id ({{ budget_category.group_id }})</label><br>
            <input type="text" name="category_name" id="category_name" maxlength="32">
            <label for="category_name">Category name ({{ budget_category.category_name }})</label><br>
            <input type="text" name="category_description" id="category_description" maxlength="100">
            <label for="category_description">Category description (
                {{ budget_category.category_description }})</label>
        </fieldset>
        <input type="submit" value="edit_category">
    </form>
</div>
<div>
    <h3>Delete category?</h3>
    <form action="{% url 'budgeting_app:delete_category' budget_category.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="delete_category">
    </form>
</div>
</body>