{% extends "budgeting_app/base/base.html" %}

{% block title %}Home - My Django App{% endblock %}

{% block content %}
<div>
    <h3>Create category</h3>
    <form action="{% url 'budgeting_app:create_category' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>
                <h3>Create a category using this form!</h3>
            </legend>
            <input type="text" name="category_code" id="category_code" maxlength="10">
            <label for="category_code">Category code ({{ budget_category.category_code }})</label><br>
            <select name="group_id" id="group_id">
                <option value="">Select group</option>
                {% for group in groups %}
                <option value="{{ group.id }}">{{ group.group_code }} -- {{ group.group_name }}</option>
                {% endfor %}
            </select>
            <label for="group_id">Group id ({{ budget_category.group_id }})</label><br>
            <input type="text" name="category_name" id="category_name" maxlength="32">
            <label for="category_name">Category name ({{ budget_category.category_name }})</label><br>
            <input type="text" name="category_description" id="category_description" maxlength="100">
            <label for="category_description">Category description ({{ budget_category.category_description
                }})</label>
        </fieldset>
        <input type="submit" value="create_category">
    </form>
</div>
{% endblock %}